<apex:page showHeader="false" standardStylesheets="false" controller="mobileProductSelector" action="{!mobileProductSelectorLoad}">
 <form method="get" action=""> 
	<span><strong>Select Business Unit:</strong></span><br />
    <span><input type="radio" name="bu" value="Trauma" />Trauma</span><br />
    <span><input type="radio" name="bu" value="Spine" />Spine</span><br />
    <span><input type="radio" name="bu" value="CMF" />CMF</span><br />
    <span><strong>Select Product Category:</strong></span><br />
    <span><input type="radio" name="cat" value="Set" />Set</span><br />
    <span><input type="radio" name="cat" value="Bone" />Bone</span><br />
    <span><input type="radio" name="cat" value="Marketing" />Marketing</span><br />
	<input type="submit" value="Load" />
	<span>
		<input type="text"  style="border:none;color:white;border-color:white;" name="parent" value="{!educationMaterialsOrderId}" />
	</span>  <br />
</form>
 <form method="get" action=""> 
	<hr/>
	<span><strong>Business Unit:</strong>{!bu}</span> <br />
	<span><strong>Category:</strong> {!cat}</span> <br />
	<span>
		<input type="submit" name="sub" value="Save" />
	</span> <br />
	<apex:repeat value="{!Sets}" var="set">
		<span>
			<input size="2" name="{!set.Product.Id}"  type="text" value="{!set.qty}" /> 
			{!set.Product.Name} 
		</span><br />
	</apex:repeat>
	<br />
	<span>
		<input type="submit" name="sub" value="Save" />
	</span> <br />
	<span>
		<input style="border:none;color:white;border-color:white;"  type="text" name="parent" value="{!educationMaterialsOrderId}" />
	</span> 
</form>
</apex:page>