<apex:component >

    <apex:attribute name="topic1" type="String" required="true"
        description="The push topic that will be connected"/>
    <apex:attribute name="eventCallbackJS1" type="String" required="true"
        description="The javascript function that will be called with each event"/>

    <apex:attribute name="topic2" type="String" required="true"
        description="The push topic that will be connected"/>
    <apex:attribute name="eventCallbackJS2" type="String" required="true"
        description="The javascript function that will be called with each event"/>

    <!-- These libraries assume that the host page already has the main JQuery lib loaded -->
	<script src="{!URLFOR($Resource.StreamingClientJSCometD)}" type="text/javascript" language="javascript"></script>
	<script src="{!URLFOR($Resource.StreamingClientJQueryCometD)}" type="text/javascript" language="javascript"></script>
	<script src="{!URLFOR($Resource.StreamingClientJSON)}" type="text/javascript" language="javascript"></script>


    <script type="text/javascript">    
    
        $110(document).ready(function() {             
            $110.cometd.init({
                url: window.location.protocol+'//'+window.location.hostname+'/cometd/29.0/',
                requestHeaders: { Authorization: 'OAuth {!$Api.Session_ID}'},
                logLevel: "warn",
                appendMessageTypeToURL: false
                });
            
          $110.cometd.subscribe('/topic/{!topic1}', 
	                function(message) {
	                    {!eventCallbackJS1}(message.data.sobject);
	                });  

	 $110.cometd.subscribe('/topic/{!topic2}', 
	 			               function(message) {
	                    {!eventCallbackJS2}(message.data.sobject);
	                }); 

        });
    </script>

</apex:component>